.admin--sidebar
  background: $dark
  background: linear-gradient( to bottom right, lighten( $dark, 10% ) 0%, $dark 100% )
  padding: 3rem .75rem
  color: white
  height: 100vh
  overflow-y: auto
  display: inline-block

  &-logo
    display: block
    margin-bottom: 3rem

  &-menu
    &, li, ul, ol
      list-style: none
      padding: 0
      margin: 0

    > li
      margin-bottom: 1.5rem

    &-sub
      margin-bottom: 1.5rem

  h6
    // color: rgba( white, .7 )
    margin-bottom: 0
    font:
      size: .675rem
      weight: 800
    letter-spacing: .025rem
    text-transform: uppercase
    padding: .25rem .75rem

  a
    color: white
    text-decoration: none
    display: block
    padding: .25rem .75rem .15rem
    border-radius: .15rem
    font:
      family: $secondary
      weight: 500

    &:hover
      background: rgba( white, .15 )
